/* .container {
  height: 100vh;
}
.heading {
  font: size 24px;
}
.row {
  height: 100%;
}
.box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.navbar {
  position: relative;
  left: -13%;
}
.navbar ul {
  height: 100%;
}
.navbar ul li {
  list-style-type: none;
  padding-bottom: 23px;
}
.secondLink,
.thirdLink {
  font-size: 24px;
  color: #737373;
  position: relative;
  left: -5%;
}
.firstLink {
  font-size: 24px;
  color: #212121;
}
.sol {
  font-size: 16px !important;
  font-weight: bold !important;
  color: #404040 !important;
  position: absolute;
  left: 20%;
  transform: translate(10px, 10px);
}
a {
  font-size: 18px;
  text-decoration: none;
}
.container {
  margin: 0px !important;
}
.clickButton {
  border: none !important;
  background: none !important;
}
.contentbox {
  position: relative;
  top: 4%;
  left: -6%;
} */
